h1 {
    color: #212529;
    text-align: center;
}
a {
    color: whitesmoke;
    text-decoration: none;
}

div.container {
    margin-top: 5em;
    margin-bottom: 5em;
}

.card {
    color: whitesmoke;
    margin: 15px;
}

#contenedor {
    padding-bottom:3em;
}