<div class="card" id="contenedor">
    <div class="container">
      <h1>Dashboard del proyecto tituloProyecto</h1>
      <div>
        <h2 class="text-dark"></h2>
      </div>
      <div class="row">
        <div class="col-md-4">
          <a routerLink="/proyecto/tituloProyecto/informe" routerLinkActive="active" title="Titulo del proyecto">
            <div class="card bg-primary">
              <div class="card-header">
                  <h3>Informes</h3>
              </div>
              <div class="card-body">
                <p>Lista de informes de cambios</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a routerLink="/proyecto/tituloProyecto/ticket" routerLinkActive="active" title="Titulo del proyecto">
            <div class="card bg-primary">
              <div class="card-header">
                  <h3>Tickets</h3>
              </div>
              <div class="card-body">
                <p>Lista de los tickets de los ingreso y egresos de recursos</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a routerLink="/proyecto/tituloProyecto/equipo" routerLinkActive="active" title="Crear un nuevo proyecto">
            <div class="card bg-danger">
              <div class="card-header">
                  <h3>Equipo</h3>
              </div>
              <div class="card-body">
                <p>Lista de personas que están trabajando</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <div class="card bg-success">
            <a routerLink="/proyecto/tituloProyecto/notas" routerLinkActive="active">
              <div class="card-header">
                <h3>Notas grupales</h3>
                <p>Configuración de la cuenta</p>
              </div>
            </a>
        </div>
      </div>
      <div class="col-md-6">
        <a routerLink="/proyecto/tituloProyecto/editar" routerLinkActive="active">
          <div class="card bg-dark">
              <div class="card-header">
                <h3>Editar proyecto</h3>
                <p>Cambiar datos el proyecto</p>
              </div>
          </div>
        </a>
      </div>
    </div>
  </div>